@charset "UTF-8";
body {
  font-family: Calibri, Helvetica, sans-serif;
  background-image: linear-gradient(45deg, #48e792 0%, #33ffce 100%);
}
.nm {
  background-color: white;
}
form {
  text-align: center;
}
table {
  margin: auto;
  width: 35%;
  border: 3px solid black;
  padding: 50px;
}
.button {
  transition-duration: 0.4s;
  border-radius: 2px;
  font-size: 16px;
}

.button:hover {
  background-color: black;
  color: white;
  border-radius: 2px;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: white;
}
.show {
  transition-duration: 0.4s;
  border-radius: 4px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.show:hover {
  background-color: black;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
}